@model Model.EF.Question

@{
    ViewBag.Title = "EditMultipleQuestion";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var questionid = ViewBag.questionid;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Question
        <small>Control panel</small>
    </h1>
    <br />
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Course</a></li>
        <li class="active">Multiple Question</li>
    </ol>
</section>

@using (Html.BeginForm("EditMultipleQuestion", "Course", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.QuestionID, new { @Value = questionid })

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h1 class="box-title">Cập nhật câu hỏi</h1>
                    <br />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ques)

                        @Html.TextBoxFor(model => model.Ques, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Ques, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Option1)

                        @Html.TextBoxFor(model => model.Option1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Option1, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <lable><strong>Đáp án 1</strong></lable>
                        <select name="CorrectAnswer1">                         
                            <option selected="@Model.CorrectAnswer1" value="False">False</option>
                            <option selected="@Model.CorrectAnswer1" value="True">True</option>
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Option2)

                        @Html.TextBoxFor(model => model.Option2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Option2, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <lable><strong>Đáp án 2</strong></lable>
                        <select name="CorrectAnswer2">
                            <option selected="@Model.CorrectAnswer2" value="False">False</option>
                            <option selected="@Model.CorrectAnswer2" value="True">True</option>
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Option3)

                        @Html.TextBoxFor(model => model.Option3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Option3, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <lable><strong>Đáp án 3</strong></lable>
                        <select name="CorrectAnswer3">
                            <option selected="@Model.CorrectAnswer3" value="False">False</option>
                            <option selected="@Model.CorrectAnswer3" value="True">True</option>
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Option4)

                        @Html.TextBoxFor(model => model.Option4, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Option4, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <lable><strong>Đáp án 4</strong></lable>
                        <select name="CorrectAnswer4">
                            <option selected="@Model.CorrectAnswer4" value="False">False</option>
                            <option selected="@Model.CorrectAnswer4" value="True">True</option>
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Option5)

                        @Html.TextBoxFor(model => model.Option5, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Option5, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <lable><strong>Đáp án 5</strong></lable>
                        <select name="CorrectAnswer5">
                            <option selected="@Model.CorrectAnswer5" value="False">False</option>
                            <option selected="@Model.CorrectAnswer5" value="True">True</option>
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Option6)

                        @Html.TextBoxFor(model => model.Option6, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Option6, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <lable><strong>Đáp án 6</strong></lable>
                        <select name="CorrectAnswer6">
                            <option selected="@Model.CorrectAnswer6" value="False">False</option>
                            <option selected="@Model.CorrectAnswer6" value="True">True</option>
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Option7)

                        @Html.TextBoxFor(model => model.Option7, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Option7, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <lable><strong>Đáp án 7</strong></lable>
                        <select name="CorrectAnswer7">
                            <option selected="@Model.CorrectAnswer7" value="False">False</option>
                            <option selected="@Model.CorrectAnswer7" value="True">True</option>
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Option8)

                        @Html.TextBoxFor(model => model.Option8, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Option8, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <lable><strong>Đáp án 8</strong></lable>
                        <select name="CorrectAnswer8">
                            <option selected="@Model.CorrectAnswer8" value="False">False</option>
                            <option selected="@Model.CorrectAnswer8" value="True">True</option>
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Option9)

                        @Html.TextBoxFor(model => model.Option9, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Option9, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <lable><strong>Đáp án 9</strong></lable>
                        <select name="CorrectAnswer9">
                            <option selected="@Model.CorrectAnswer9" value="False">False</option>
                            <option selected="@Model.CorrectAnswer9" value="True">True</option>
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Option10)

                        @Html.TextBoxFor(model => model.Option10, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Option10, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <lable><strong>Đáp án 10</strong></lable>
                        <select name="CorrectAnswer10">
                            <option selected="@Model.CorrectAnswer10" value="False">False</option>
                            <option selected="@Model.CorrectAnswer10" value="True">True</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description)

                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div style="text-align:center">
                            <input type="submit" value="Cập nhật" class="btn btn-primary" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
}
