<!DOCTYPE html>
<html>
<head>
    <title>Elearning</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <!-- js -->
    <script src="/assets/client/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/assets/client/js/move-top.js"></script>
    <script type="text/javascript" src="/assets/client/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="/Assets/client/css/bootstrap.min.css" rel="stylesheet" />
    @*<script src="/Assets/client/js/jquery-3.1.1.min.js"></script>*@
    @*<script src="/Assets/client/js/bootstrap.min.js"></script>*@
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- fancybox -->
    @*<script src="fancybox/jquery.fancybox.pack.js"></script>*@
    <script src="/Assets/client/js/jquery.fancybox.pack.js"></script>
    @*<link rel="stylesheet" type="text/css" href="fancybox/jquery.fancybox.css" />*@
    <!-- videojs -->
    @*<script src="video-js/video.js"></script>*@
    <script src="/Assets/client/js/video.js"></script>
    @*<link rel="stylesheet" type="text/css" href="video-js/video-js.css" />*@
    <link href="/Assets/client/css/video-js.css" rel="stylesheet" />
    <link href="/Assets/client/css/jquery.fancybox.css" rel="stylesheet" />
    <!-- //for-mobile-apps -->
    <link href="/Assets/client/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/assets/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Assets/client/css/boostrap-social.css" rel="stylesheet" />
    <!-- font-awesome icons -->
    <link href="/assets/client/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->

    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- header -->
    <div class="agileits_header">
        <div class="w3l_offers">
            <a href="/" ref="nofollow"><h3>ELEARNING UTE</h3></a>
        </div>
        <div class="w3l_search">
            <form action="#" method="post">
                <input type="text" name="Product" value="Search a Courses..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a Courses...';}" required="">
                <input type="submit" value=" ">
            </form>
        </div>
        <div class="product_list_header">
            <form action="@Url.Action("Index", "Cart")" method="get" class="last">
                <fieldset>
                    <input type="submit" name="submit" value="View your cart" class="button" />
                    @*<h4><a href="/Cart/Index">View your cart</a></h4>*@
                </fieldset>
            </form>
        </div>

        <div class="w3l_header_right">
            @{
                var session = (UserLogin)Session[Elearning.Common.CommonConstants.USER_SESSION];
            }
            @if (session == null)
            {

                <a class="btn btn-primary navbar-nav" data-toggle="modal" data-target="#myModal">Login</a>

                <a style="color:white" class="btn btn-primary navbar-nav" href="/dang-ky">Sign Up</a>

                    <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">

                    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="text" hidden id="url" name="url" />
                        <div class="w3_login">

                            <div class="w3_login_module">
                                <div class="module form-module">
                                    <div class="close">
                                        <button type="button" class="btn btn-default" style="background:#ffffff" data-dismiss="modal">
                                            <i class="fa fa-times"></i>
                                        </button>

                                    </div>

                                    <div class="form">
                                        <h2 style="text-align:center">Đăng nhập vào tài khoản của bạn!</h2>

                                        <div style="text-align:center">
                                            <span id="msg" style="color:red;" />
                                        </div>
                                        <br />
                                        <input type="text" name="Username" id="Username" placeholder="Username" required="required">
                                        <input type="password" name="Password" id="Password" placeholder="Password" required="required">

                                        <input type="button" value="Đăng nhập" id="Save" class="btn btn-success btn-block">
                                        <p style="padding-bottom: 5px">
                                            <div align="center">
                                                <span>---Hoặc---</span>
                                            </div>
                                        </p>
                                        <div style="padding-top: 5px">
                                            <a class="btn btn-block btn-social btn-facebook" style="text-align: center" href="/User/LoginFacebook">
                                                <span class="fa fa-facebook"></span>
                                                Đăng nhập bằng Facebook
                                            </a>
                                            <br />
                                            <a class="btn btn-block btn-social btn-flickr" style="text-align: center" href="/dang-ky">
                                                <span class="fa fa-flickr"></span>
                                                Đăng ký tài khoản
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cta"><a href="#">Forgot your password?</a></div>
                                </div>
                            </div>

                            <script type="text/javascript">
                                $('#Save').click(function () {
                                    var url = "/User/Login";
                                    var Username = $("#Username").val();
                                    var Password = $("#Password").val();
                                    $.post(url, { Username: Username, Password: Password }, function (data) {
                                        //$("#msg").html(data);
                                        if (data == "Đúng") //Kiểm tra trường hợp đăng nhập đúng ở Controller
                                            top.location.href = "/";//redirection
                                        else
                                            $("#msg").html(data);
                                    });
                                })
                            </script>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="w3l_header">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            @*<li> Xin chào: @session.UserName </li>*@
                            @if (session.Image.Contains("https://graph.facebook.com/me/picture?type=large&access_token="))
                            {
                                <div> <img src="@session.Image" class="img-circle" alt="User Image" width="40" height="40"> @session.Name </div>
                            }
                            else
                            {
                                <div> <img src="~/Avatar/@session.Image" class="img-circle" alt="User Image" width="40" height="40"> @session.Name </div>

                            }
                            <div class="mega-dropdown-menu">
                                <div class="w3ls_vegetables">
                                    <ul class="dropdown-menu drp-mnu">
                                        <li class="btn-default" style="background:white"><strong>@Html.ActionLink("Profile", "EditProfile", "User")</strong></li>
                                        <li class="btn-default" style="background:white"><strong>@Html.ActionLink("Log Out", "Logout", "User")</strong></li>
                                    </ul>
                                </div>
                                @*<li class="btn-default"> @Html.ActionLink("Log Out", "Logout", "User") </li>*@
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>

        <div class="clearfix"> </div>
    </div>
    <!-- script-for sticky-nav -->
    <script>
        $(document).ready(function () {
            var navoffeset = $(".agileits_header").offset().top;
            $(window).scroll(function () {
                var scrollpos = $(window).scrollTop();
                if (scrollpos >= navoffeset) {
                    $(".agileits_header").addClass("fixed");
                } else {
                    $(".agileits_header").removeClass("fixed");
                }
            });

        });
    </script>
    <!-- //script-for sticky-nav -->
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left">
                <h1><a href="/"><span>Elearning</span> HCMUTE</a></h1>
                @*<a href="/"><img alt="" src="~/Assets/client/images/logo1.png" width="550" height="100%" /></a>*@
            </div>

            @{ Html.RenderAction("MainMenu", "Home");} <!-- //Dùng RenderAction show dữ liệu từ View MainMenu -->
            @*<div class="w3ls_logo_products_left1">
                    <ul class="phone_email">
                        <li><i class="fa fa-phone" aria-hidden="true"></i>0164 2898 599</li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:store@grocery.com">store@grocery.com</a></li>
                    </ul>
                </div>*@
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- banner -->

    @RenderBody()

    <!-- newsletter -->
    @*<div class="newsletter">
        <div class="container">
            <div class="w3agile_newsletter_left">
                <h3>sign up for our newsletter</h3>
            </div>
            <div class="w3agile_newsletter_right">
                <form action="#" method="post">
                    <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="submit" value="subscribe now">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>*@
    <!-- //newsletter -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 w3_footer_grid">
                <h3>information</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>policy info</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>connect with us</h3>
                <ul class="agileits_social_icons">
                    <li><a href="/User/LoginFacebook" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Address</h3>
                <ul class="w3_footer_grid_list1">
                    <li>
                        <label class="fa fa-twitter" aria-hidden="true"></label><i>Địa chỉ</i><span>
                            1 Võ Văn Ngân, Phường Linh Chiểu, Linh Chiểu, Thủ Đức, Hồ Chí Minh
                        </span>
                    </li>
                    <li>
                        <label class="fa fa-twitter" aria-hidden="true"></label><i>Liên hệ</i><span>
                            Email: elearning@gmail.com
                        </span>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            @*<div class="agile_footer_grids">
                    <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                        <div class="w3_footer_grid_bottom">
                            <h4>100% secure payments</h4>
                            <img src="/assets/client/images/card.png" alt=" " class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                        <div class="w3_footer_grid_bottom">
                            <h5>connect with us</h5>
                            <ul class="agileits_social_icons">
                                <li><a href="/User/LoginFacebook" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>*@
            <div class="wthree_footer_copy">
                <p>© 2016 Grocery Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/client/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <script src="/assets/client/js/minicart.min.js"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '#'
        });

        if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
    </script>
    <script src="/Assets/admin/js/plugin/ckfinder/ckfinder.js"></script>
    <script src="/Assets/admin/js/plugin/ckeditor/ckeditor.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>