@model Model.EF.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        User
        <small>Control panel</small>
    </h1>
    <br />
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User Management</a></li>
        <li class="active">Create User</li>
    </ol>
</section>

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h1 class="box-title">Thêm mới người dùng</h1>

                @using (Html.BeginForm("Index", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />

                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    <div class="form-group">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success">@ViewBag.Success</div>
                        }
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName)

                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                    </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PassWord)

                            @Html.PasswordFor(model => model.PassWord, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)

                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address)

                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email)

                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone)

                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Image)
                            <input type="file" name="file" id="file" />
                        </div>

                        <div class="form-group">
                            <div class="box-footer">
                                <input type="submit" value="Tạo người dùng" class="btn btn-primary" />
                            </div>
                        </div>
                }

            </div>
        </div>
    </div>
</div>
