@model Model.EF.Money

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
<script src="~/Assets/admin/js/controller/moneyControllerChangeStatus.js"></script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Money
        <small>Control panel</small>
    </h1>
    <br />
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Money Unit</a></li>
        <li class="active">Create Money</li>
    </ol>
</section>

<div class="row">
    <!-- left column -->
    <div class="col-md-5">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h1 class="box-title">Thêm mới</h1>
                <br />

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)

                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description)

                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Unit)

                        @Html.TextBoxFor(model => model.Unit, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExchangeUSD)

                        @Html.TextBoxFor(model => model.ExchangeUSD, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ExchangeUSD, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <div class="box-footer">
                            <input type="submit" value="Thêm mới" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="box box-info">
            <div class="box-header with-border">
                <form>
                    @{Html.RenderAction("ListMoney", "Money");}
                </form>
            </div>
        </div>
    </div>

</div>


